<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @participant.name %>
</p>

<p>
  <strong>Ip:</strong>
  <%= @participant.ip %>
</p>

<%= link_to 'Edit', talking_stick.edit_room_participant_path(@room, @participant) %> |
<%= link_to 'Back', talking_stick.room_participants_path %>
