<div class="container">
  <p id="notice"><%= notice %></p>

  <%= link_to t(:new_room), talking_stick.new_room_path, class: 'btn btn-success pull-right' %>

  <h1><%= t(:listing_rooms) %></h1>

  <table class="table">
    <thead>
      <tr>
        <th><%= t(:name) %></th>
        <th><%= t(:last_used) %></th>
        <th>Enter Room</th>
        <th>Edit Room</th>
        <th>Destroy Room</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @rooms.each do |room| %>
        <tr>
          <td><%= room.name %></td>
          <td><%= room.last_used.try(:strftime, "%b %d, %l:%M %P") || t(:last_used_never) %></td>
          <td><%= link_to 'Enter', talking_stick.room_path(room) %></td>
          <td><%= link_to t(:edit), talking_stick.edit_room_path(room) %></td>
          <td><%= link_to t(:destroy), talking_stick.room_path(room), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>


</div>
