<% content_for(:title) { "#{@room.name} Group Conversation" } %>
<div id="localvideo-container"></div>
<div class="container-fluid" role="main">
  <div class="row" role="controls">
    <p id="notice"><%= notice %></p>

    <p>
      <strong><%= t(:name) %></strong>
      <%= @room.name %>
    </p>

    <p>
      <button id="sim"><%= t(:sim) %></button>
    </p>
  </div>

  <div class="row">
    <div id="partnervideos" class="col-xs-12">
    </div>
  </div>
</div>

<div class="modal fade" role="dialog" id="video-preview">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title"><%= t(:joining_room) %> "<%= @room.name %>"</h3>
      </div>
      <div class="modal-body">
        <video id="localvideo" poster="<%= image_path 'talking_stick/flikr2005.gif' %>" autoplay=true></video>
        <p id="preview_instructions"><%= t(:video_grant_access) %></p>
      </div>
      <div class="modal-footer">
        <button id="connect" type="button" class="btn btn-default btn-primary" data-dismiss="modal">Join</button>
        <button href="javascript:history(-1);" type="button" class="btn">Exit</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<%= link_to 'Edit', edit_room_path(@room) %> |
<%= link_to 'Back', rooms_path %>

<script type="text/javascript">
$(document).ready(function() {
  $('#sim').click(sim);
  $('#video-preview').modal({backdrop: 'static', keyboad: false, show: true});
  var myGuid = TalkingStick.generateGUID();
  // Use the least-common-denominator, Rails API, for WebRTC setup
  var options = {
    url: '<%= room_path %>',
    myGuid: myGuid,
  };
  var signalingEngine = new TalkingStick.RailsSignaling(options);

  var options = {
    guid: myGuid,
    roomUrl: '<%= room_path %>',
    signalingEngine: signalingEngine,
    logLevel: 'trace',
  };
  TalkingStick.init(options);

  $('#connect').click(startSession);
  $(window).on('talking_stick.local_media_setup', function() {
    $('#preview_instructions').html('<%= t(:video_intro) %>');
  });
});

function startSession() {
  $('#localvideo').detach().appendTo('#localvideo-container');
  // Gotta restart and re-mute the video after moving it
  $('#localvideo')[0].play();
  TalkingStick.connect();
};

function resizeVideos() {
  var videoCollection = $('#partnervideos video');
  var numVideos = videoCollection.length;
  videoCollection.css('width', (100/numVideos) + "%");
};

function cleanupPartner(partner) {
  console.log('Cleaning up partner', partner);
  $('#partnervideos [data-partner-guid=' + partner.guid + ']').remove();
  resizeVideos();
}

function sim() {
  var el = $(document.createElement('video'));
  el.attr('poster', "<%= image_path 'talking_stick/flikr2005.gif' %>");
  $('#partnervideos').append(el);
  TalkingStick.localVideo = $('#localvideo');
  TalkingStick.trigger('partner.media', el);
}

$(window).on('talking_stick.partner.media', resizeVideos);
$(window).on('talking_stick.partner.cleanup', cleanupPartner);
$(window).resize(resizeVideos);

</script>
