<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @room.name %>
</p>

<p>
  <strong>Last used:</strong>
  <%= @room.last_used %>
</p>

<video id="localvideo"></video>

<%= link_to 'Edit', edit_room_path(@room) %> |
<%= link_to 'Back', rooms_path %>

<script type="text/javascript">
$(document).ready(function() {
  var myGUID = TalkingStick.generateGUID();
  // Use the least-common-denominator, Rails API, for WebRTC setup
  var options = {
    url: '<%= room_path %>',
    myGUID: myGUID,
  };
  var signalingEngine = new TalkingStick.RailsSignaling(options);

  var options = {
    GUID: myGUID,
    localVideo: $('#localvideo'),
    roomURL: '<%= room_path %>',
    signalingEngine: signalingEngine,
    logLevel: 'trace',
  };
  TalkingStick.init(options);
  
});
</script>
