<% content_for(:title) { "#{@room.name} Group Conversation" } %>
<div class="container-fluid" role="main">
  <div class="row">
    <p id="notice"><%= notice %></p>

    <p>
      <strong><%= t(:name) %></strong>
      <%= @room.name %>
    </p>

    <p>
      <button id="connect"><%= t(:join) %></button>
      <button id="sim"><%= t(:sim) %></button>
    </p>
  </div>

  <div class="row">
    <div id="partnervideos" class="col-xs-7 col-md-8 col-lg-9">
    </div>
    </div>
    </div>
  </div>
</div>


<%= link_to 'Edit', edit_room_path(@room) %> |
<%= link_to 'Back', rooms_path %>

<script type="text/javascript">
$(document).ready(function() {
  var myGuid = TalkingStick.generateGUID();
  // Use the least-common-denominator, Rails API, for WebRTC setup
  var options = {
    url: '<%= room_path %>',
    myGuid: myGuid,
  };
  var signalingEngine = new TalkingStick.RailsSignaling(options);

  var options = {
    guid: myGuid,
    localVideo: $('#localvideo'),
    roomUrl: '<%= room_path %>',
    signalingEngine: signalingEngine,
    logLevel: 'debug',
  };
  TalkingStick.init(options);

  $('#connect').click(TalkingStick.connect);
  
});

$(window).on('talking_stick.partner.media', function() {
  var numVideos = $('#partnervideos .video').length;
  var videoCollection = $('#partnervideos .video');
  var tiling = 1;
  if (numVideos == 1 || $(window).width() < 768) {
    videoCollection.css('max-width', '100%');
  } else {
    videoCollection.css('max-width', '50%');
    tiling = 2;
  }

  if ($(window).height() < $('#partnervideos').height()) {
    videoCollection.css('max-height', $(window).height() / (numVideos/tiling));
  }
});
</script>
