<% content_for(:title) { "#{@room.name} Group Conversation" } %>
<div id="localvideo-container"></div>
<div class="container-fluid" role="main">
  <div class="row" role="controls">
    <p id="notice"><%= notice %></p>

    <p>
      <strong><%= t(:name) %></strong>
      <%= @room.name %>
    </p>

    <p>
      <button id="sim"><%= t(:sim) %></button>
    </p>
  </div>

  <div class="row">
    <div id="partnervideos" class="col-xs-12">
    </div>
  </div>
</div>

<div class="modal fade" role="dialog" id="video-preview">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title"><%= t(:joining_room) %> "<%= @room.name %>"</h3>
      </div>
      <div class="modal-body">
        <video id="localvideo" poster="<%= image_path 'video.png' %>"></video>
        <p><%= t(:video_intro) %></p>
      </div>
      <div class="modal-footer">
        <button id="connect" type="button" class="btn btn-default btn-primary" data-dismiss="modal">Join</button>
        <button href="javascript:history(-1);" type="button" class="btn">Exit</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<%= link_to 'Edit', edit_room_path(@room) %> |
<%= link_to 'Back', rooms_path %>

<script type="text/javascript">
$(document).ready(function() {
  $('#video-preview').modal('show');
  var myGuid = TalkingStick.generateGUID();
  // Use the least-common-denominator, Rails API, for WebRTC setup
  var options = {
    url: '<%= room_path %>',
    myGuid: myGuid,
  };
  var signalingEngine = new TalkingStick.RailsSignaling(options);

  var options = {
    guid: myGuid,
    localVideo: $('#localvideo'),
    roomUrl: '<%= room_path %>',
    signalingEngine: signalingEngine,
    logLevel: 'debug',
  };
  TalkingStick.init(options);

  $('#connect').click(startSession);
});

$(window).on('talking_stick.partner.media', function() {
  var numVideos = $('#partnervideos .video').length;
  var videoCollection = $('#partnervideos .video');
  var tiling = 1;
  if (numVideos == 1 || $(window).width() < 768) {
    videoCollection.css('max-width', '100%');
  } else {
    videoCollection.css('max-width', '50%');
    tiling = 2;
  }
function startSession() {
  $('#localvideo').detach().appendTo('#localvideo-container');
  TalkingStick.connect();
};

  if ($(window).height() < $('#partnervideos').height()) {
    videoCollection.css('max-height', $(window).height() / (numVideos/tiling));
  }
});
</script>
